body{
  margin-top: 5rem;
}

.navbar-shadow {
  -webkit-border-radius: 0px 0px 175px 175px / 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 175px 175px / 0px 0px 20px 20px;
  border-radius: 0px 0px 175px 175px / 0px 0px 0px 0px;
  
  -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 193, 7, 0.5);
  -moz-box-shadow: 0px 0px 20px 5px rgba(255, 193, 7, 0.5);
  box-shadow: 0px 0px 20px 5px rgba(255, 193, 7, 0.5);
}

.border-mardones1 {
    border-color: #ffc107 !important;
  }

.border-menu {
    border-bottom: 1.5px solid #ffc107 !important;
    border-radius: 0.25rem !important;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top:10rem;
    padding-bottom: 0rem;
  }
}

.display-jumbotron {
  font-size: 2.5rem; 
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .display-jumbotron {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.display-jumbotron2 {
  font-size: 2rem; 
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .display-jumbotron2 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.display-carousel {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}
.btn-carousel{
  width: 100% !important;
}

@media (min-width: 768px) {
  .display-carousel {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  .btn-carousel{
    width: 50% !important;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 900;
}

.jumbotron .container {
  max-width: 50rem;
}

.jumbotron .container-jumbotron {
  max-width: 50rem;
}

/* footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
} */

.wallpaper0 {
  background-image: url(../img/home/carousel-0.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wallpaper1 {
  background-image: url(../img/home/carousel-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wallpaper2 {
  background-image: url(../img/home/carousel-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wallpaper3 {
  background-image: url(../img/home/carousel-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.wallpaper4 {
  background-image: url(../img/home/carousel-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
/* @media (min-width: 768px) {
  .wallpaper4 {
    background-image: url(../img/home/carousel-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
} */

.wallpaper-contacto {
  background-color: #060606 !important;
  background-image: url(../img/contactenos/contactenos.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.wallpaper-patologias {
  background-color: #060606 !important;
  background-image: url(../img/patologias/patologias.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.wallpaper-cirugias {
  background-color: #060606 !important;
  background-image: url(../img/cirugias/cirugias-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.wallpaper-introduccion {
  background-color: #060606 !important;
  background-image: url(../img/introduccion.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.wallpaper-procedimientos {
  background-color: #060606 !important;
  background-image: url(../img/procedimientos.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-contactenos {
  width: 48px;
}

@media (min-width: 375px) {
  .icon-contactenos {
    width: 64px;
  }
}

@media (min-width: 576px) {
  .icon-contactenos {
    width: 96px;
  }
}

@media (min-width: 768px) {
  .icon-contactenos {
    width: 128px;
  }
}

@media (min-width: 992px) {
  .icon-contactenos {
    width: 128px;
  }
}

@media (min-width: 1200px) {
  .icon-contactenos {
    width: 128px;
  }
}

.px-6 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
@media (min-width: 768px) {
  .px-6 {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  }
}

.mt-carousel2 {
  /* margin-top: 1.15rem !important;
  margin-bottom: 1.10rem !important; */
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 962px) {
  .mt-carousel2 {
    /* margin-top: 0 !important;
    margin-bottom: 0 !important; */
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.mt-carousel {
  margin-top: 0.35rem !important;
}
@media (min-width: 962px) {
  .mt-carousel {
    margin-top: 0 !important;
  }
}


.jumbotronix {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.scrollTop {
  position: fixed;
  bottom: 100px;
  right: 5px;
  width: 65px;
  height: 65px;
  /* border: 1px solid #343a40 !important; */
  border: 2px solid #ffffff !important;
  border-radius: 50%;
  /* background-color: #fff !important; */
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve' width='512px' height='512px' class=''%3e%3cg%3e%3cpolygon style='fill:%23E0A800' points='256,7.5 288,319.5 318,319.5 318,114.5 363,114.5' data-original='%233B4145' class='active-path' data-old_color='%233B4145'/%3e%3cpolygon style='fill:%23FFC107' points='256,7.5 149,114.5 194,114.5 194,319.5 288,319.5 288,84.5 ' data-original='%23525A61' class='' data-old_color='%23525A61'/%3e%3cpath d='M149,122h37.5v22.5c0,4.142,3.357,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-30c0-4.142-3.357-7.5-7.5-7.5h-26.894L256,18.107  L344.894,107H318c-4.143,0-7.5,3.358-7.5,7.5V312h-109V174.5c0-4.142-3.357-7.5-7.5-7.5s-7.5,3.358-7.5,7.5v145  c0,4.142,3.357,7.5,7.5,7.5h124c4.143,0,7.5-3.358,7.5-7.5V122H363c3.033,0,5.769-1.827,6.929-4.63  c1.161-2.802,0.52-6.028-1.625-8.173l-107-107c-2.93-2.929-7.678-2.929-10.607,0l-107,107c-2.145,2.145-2.786,5.371-1.625,8.173  C143.232,120.173,145.967,122,149,122z' data-original='%23000000' class='' style='fill:%23000000' data-old_color='%23000000'/%3e%3cpath d='M338.5,357h-30c-4.143,0-7.5,3.358-7.5,7.5v140c0,4.142,3.357,7.5,7.5,7.5s7.5-3.358,7.5-7.5V442h22.5  c20.678,0,37.5-16.823,37.5-37.5v-10C376,373.823,359.178,357,338.5,357z M361,404.5c0,12.406-10.094,22.5-22.5,22.5H316v-55h22.5  c12.406,0,22.5,10.094,22.5,22.5V404.5z' data-original='%23000000' class='' style='fill:%23000000' data-old_color='%23000000'/%3e%3cpath d='M248.5,357c-20.678,0-37.5,16.823-37.5,37.5v80c0,20.677,16.822,37.5,37.5,37.5s37.5-16.823,37.5-37.5v-80  C286,373.823,269.178,357,248.5,357z M271,474.5c0,12.406-10.094,22.5-22.5,22.5S226,486.907,226,474.5v-80  c0-12.406,10.094-22.5,22.5-22.5s22.5,10.094,22.5,22.5V474.5z' data-original='%23000000' class='' style='fill:%23000000' data-old_color='%23000000'/%3e%3cpath d='M203.5,357h-60c-4.143,0-7.5,3.358-7.5,7.5s3.357,7.5,7.5,7.5H166v132.5c0,4.142,3.357,7.5,7.5,7.5s7.5-3.358,7.5-7.5V372  h22.5c4.143,0,7.5-3.358,7.5-7.5S207.643,357,203.5,357z' data-original='%23000000' style='fill:%23000000' data-old_color='%23000000'/%3e%3c/g%3e%3c/svg%3e"); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 54 54' style='enable-background:new 0 0 54 54;' xml:space='preserve' width='512px' height='512px' class=''%3e%3cpath style='fill:%23DDC661' d='M53,27L53,27c0,14.359-11.641,26-26,26h0C12.641,53,1,41.359,1,27v0C1,12.641,12.641,1,27,1h0 C41.359,1,53,12.641,53,27z' data-original='%234FBA6F' class='' data-old_color='%234FBA6F'/%3e%3cpath style='fill:%23DDC661' d='M27,54C12.112,54,0,41.888,0,27S12.112,0,27,0s27,12.112,27,27S41.888,54,27,54z M27,2 C13.215,2,2,13.215,2,27s11.215,25,25,25s25-11.215,25-25S40.785,2,27,2z' data-original='%234FBA6F' class='' data-old_color='%234FBA6F'/%3e%3cpath style='fill:%23FFFFFF' d='M39,32.706c-0.256,0-0.512-0.098-0.707-0.293L27,21.12L15.707,32.413   c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414l11.498-11.498c0.666-0.666,1.752-0.666,2.418,0l11.498,11.498 c0.391,0.391,0.391,1.023,0,1.414C39.512,32.608,39.256,32.706,39,32.706z' data-original='%23FFFFFF' class='active-path' data-old_color='%23FFFFFF'/%3e%3c/svg%3e");
  background-size: 55px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}


a.link:hover, a.link:focus {
  color: #c0a735 !important;
}



.iphone {
  display: none !important;
}
@media (min-width: 375px) {
  /* Iphone SE */
  .iphone {
    display: block !important;
  }
}
@media (min-width: 760px) {
  .iphone {
    display: none !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}


.container-background {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1.5rem;
}

.sombra-img {
  -webkit-box-shadow: 0px 0px 50px 0px rgba(184,184,184,0.75);
  -moz-box-shadow: 0px 0px 50px 0px rgba(184,184,184,0.75);
  box-shadow: 0px 0px 50px 0px rgba(184,184,184,0.75);
}

.lead-footer {
  font-size: 1.1rem;
  font-weight: 300;
}

.display-404 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 720px) {
  .display-404 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.2;
  }
}

.font-weight-bold2 {
  font-weight: 400 !important;
}

.active-submenu {
  background-color: #ffc107;
  color: #000000;
}

.active-submenu:hover {
  background-color: #ffc107;
  color: #ffffff;
  transition: 0.5s;
}

.card-leer {
  color: #6c757d !important;
  transition: 0.4s;
  outline: 0;
  cursor: pointer;
}


.card-leer:hover {
  color: #ffc107 !important;
  font-weight: bolder !important;
  transition: 0.4s;
  outline: 0;
  cursor: pointer;
}

.container2 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container2-jumbotron {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container2 {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container2 {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container2 {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container2 {
    max-width: 1140px;
  }
}

.container2-fluid, .container2-sm, .container2-md, .container2-lg, .container2-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container2, .container2-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container2, .container2-sm, .container2-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container2, .container2-sm, .container2-md, .container2-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container2, .container2-sm, .container2-md, .container2-lg, .container2-xl {
    max-width: 1600px;
  }
}

.modal-border-warning {
  border-bottom: 8px solid #ffc107 !important;
}

.font-menu {
  font-weight: 300;
  font-size: 1rem;
}

.coco-chanel {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 992px) {
  .coco-chanel {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}


.zoom-Mardones {
  color: #343a40 !important;
  transition: 0.8s;
  cursor: pointer;
}
.zoom-Mardones:hover {
  color: #ffc107 !important;
  transition: 0.8s;
  cursor: pointer;
}

.w-50 {
  width: 100% !important;
}
@media (min-width: 992px) {
  .w-50 {
    width: 50% !important;
  }
}

.titulo-cirugias {
  font-weight: 700 !important;
  background-color: #343a40 !important;
  -webkit-background-color: #343a40 !important;
  -moz-background-color: #343a40 !important;
  -o-background-color: #343a40 !important;
  color: #fff !important;
  text-align: center !important;
}

.titulo-cirugias:hover {
  font-weight: 700 !important;
  background-color: #343a40 !important;
  -webkit-background-color: #343a40 !important;
  -moz-background-color: #343a40 !important;
  -o-background-color: #343a40 !important;
  color: #fff !important;
  text-align: center !important;
}



.card-columns2 .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns2 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns2 .card {
    display: inline-block;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .card-columns2 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
  .card-columns2 .card {
    display: inline-block;
    width: 100%;
  }
}